.technologies__container {
    /* padding-left: 20%; */
    margin-left: 6rem;
    margin-top: 3rem;



}

.technologies__heading {
    /* text-align: cente5 */
    font-size: 5rem;
    color: #7248B6;
    font-weight: 700;
    position: relative;
    margin-bottom: 5rem;
    /* color: linear-gradient */
}


.card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
    padding-bottom: 10rem;
    /* margin-bottom: 10rem; */
}

@media only screen and (max-width : 600px) {
    .technologies__container {
        /* padding-left: 20%; */
        margin: 0 2rem;

        margin-top: 4rem;
    }

    .technologies__heading {
        font-size: 2.8rem;
        /* color: linear-gradient */
    }

    .card {
        justify-content: center;
        /* gap: 2rem; */
        margin-top: 1rem;
        padding-bottom: 2rem;
        /* margin-bottom: 10rem; */
    }

}

@media (min-width : 601px) and (max-width : 768px) {
    .technologies__container {
        /* padding-left: 20%; */
        margin: 0 2rem;

        margin-top: 4rem;
    }

    .technologies__heading {
        font-size: 3.4rem;
        /* color: linear-gradient */
    }

    .card {
        /* gap: 2.5rem; */
        margin-top: 2rem;
        padding-bottom: 4rem;
        /* margin-bottom: 10rem; */
    }

}

@media (min-width : 769px) and (max-width : 1024px) {
    .technologies__container {
        /* padding-left: 20%; */
        margin: 0 2rem 0 4rem;

        margin-top: 4rem;
    }

    .technologies__heading {
        font-size: 3.4rem;
        /* color: linear-gradient */
    }

    .card {
        /* gap: 2.5rem; */
        margin-top: 2rem;
        padding-bottom: 4rem;
        /* margin-bottom: 10rem; */
    }

}